<div class="container">
  <h1 class="caption">2023 Final</h1>
  <table class="countries">
    <thead><tr>
      <th scope="col" class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending"><abbr title="Running order">R/O</abbr>
      </th>
      <th scope="col" class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Country
      </th>
      <th scope="col" class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Artist
      </th>
      <th scope="col" class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Song
      </th>
      <th scope="col" class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Language(s)
      </th>
      <th scope="col" class="headerSort headerSortDown" tabindex="0" role="columnheader button" title="Sort initial">Points
      </th>
      <th scope="col" class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Place
      </th></tr></thead>
      <tbody>
        <tr style="font-weight:bold; background:gold;">
        <th scope="row" style="text-align:center; font-weight:bold; background:gold">9
        </th>
        <td><span class="nowrap"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/4/4c/Flag_of_Sweden.svg/23px-Flag_of_Sweden.svg.png" decoding="async" width="23" height="14" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/en/thumb/4/4c/Flag_of_Sweden.svg/35px-Flag_of_Sweden.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/4/4c/Flag_of_Sweden.svg/46px-Flag_of_Sweden.svg.png 2x" data-file-width="1600" data-file-height="1000">&nbsp;</span>Sweden</span>
        </td>
        <td>Loreen
        </td>
        <td>Tattoo
        </td>
        <td>English
        </td>
        <td>583
        </td>
        <td>1
        </td></tr><tr>
        <th scope="row" style="text-align:center;">13
        </th>
        <td><span class="nowrap"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Flag_of_Finland.svg/23px-Flag_of_Finland.svg.png" decoding="async" width="23" height="14" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Flag_of_Finland.svg/35px-Flag_of_Finland.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Flag_of_Finland.svg/46px-Flag_of_Finland.svg.png 2x" data-file-width="1800" data-file-height="1100">&nbsp;</span>Finland</span>
        </td>
        <td>Käärijä
        </td>
        <td>Cha Cha Cha
        </td>
        <td>Finnish
        </td>
        <td>526
        </td>
        <td>2
        </td></tr><tr>
        <th scope="row" style="text-align:center;">23
        </th>
        <td><span class="nowrap"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/21px-Flag_of_Israel.svg.png" decoding="async" width="21" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/32px-Flag_of_Israel.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/41px-Flag_of_Israel.svg.png 2x" data-file-width="1100" data-file-height="800">&nbsp;</span>Israel</span>
        </td>
        <td>Noa Kirel
        </td>
        <td>Unicorn
        </td>
        <td>English
        </td>
        <td>362
        </td>
        <td>3
        </td></tr><tr>
        <th scope="row" style="text-align:center;">11
        </th>
        <td><span class="nowrap"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/0/03/Flag_of_Italy.svg/23px-Flag_of_Italy.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/en/thumb/0/03/Flag_of_Italy.svg/35px-Flag_of_Italy.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/0/03/Flag_of_Italy.svg/45px-Flag_of_Italy.svg.png 2x" data-file-width="1500" data-file-height="1000">&nbsp;</span>Italy</span>
        </td>
        <td>Marco Mengoni
        </td>
        <td>Due vite
        </td>
        <td>Italian
        </td>
        <td>350
        </td>
        <td>4
        </td></tr><tr>
        <th scope="row" style="text-align:center;">20
        </th>
        <td><span class="nowrap"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Flag_of_Norway.svg/21px-Flag_of_Norway.svg.png" decoding="async" width="21" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Flag_of_Norway.svg/32px-Flag_of_Norway.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Flag_of_Norway.svg/41px-Flag_of_Norway.svg.png 2x" data-file-width="512" data-file-height="372">&nbsp;</span>Norway</span>
        </td>
        <td>Alessandra
        </td>
        <td>Queen of Kings
        </td>
        <td>English
        </td>
        <td>268
        </td>
        <td>5
        </td></tr><tr>
        <th scope="row" style="text-align:center;">19
        </th>
        <td><span class="nowrap"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/49/Flag_of_Ukraine.svg/23px-Flag_of_Ukraine.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/49/Flag_of_Ukraine.svg/35px-Flag_of_Ukraine.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/49/Flag_of_Ukraine.svg/45px-Flag_of_Ukraine.svg.png 2x" data-file-width="1200" data-file-height="800">&nbsp;</span>Ukraine</span>
        </td>
        <td>Tvorchi
        </td>
        <td>Heart of Steel
        </td>
        <td>English, Ukrainian
        </td>
        <td>243
        </td>
        <td>6
        </td></tr><tr>
        <th scope="row" style="text-align:center;">16
        </th>
        <td><span class="nowrap"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/92/Flag_of_Belgium_%28civil%29.svg/23px-Flag_of_Belgium_%28civil%29.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/92/Flag_of_Belgium_%28civil%29.svg/35px-Flag_of_Belgium_%28civil%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/92/Flag_of_Belgium_%28civil%29.svg/45px-Flag_of_Belgium_%28civil%29.svg.png 2x" data-file-width="900" data-file-height="600">&nbsp;</span>Belgium</span>
        </td>
        <td>Gustaph
        </td>
        <td>Because of You
        </td>
        <td>English
        </td>
        <td>182
        </td>
        <td>7
        </td></tr><tr>
        <th scope="row" style="text-align:center;">12
        </th>
        <td><span class="nowrap"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Flag_of_Estonia.svg/23px-Flag_of_Estonia.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Flag_of_Estonia.svg/35px-Flag_of_Estonia.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Flag_of_Estonia.svg/46px-Flag_of_Estonia.svg.png 2x" data-file-width="990" data-file-height="630">&nbsp;</span>Estonia</span>
        </td>
        <td>Alika
        </td>
        <td>Bridges
        </td>
        <td>English
        </td>
        <td>168
        </td>
        <td>8
        </td></tr><tr>
        <th scope="row" style="text-align:center;">15
        </th>
        <td><span class="nowrap"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/88/Flag_of_Australia_%28converted%29.svg/23px-Flag_of_Australia_%28converted%29.svg.png" decoding="async" width="23" height="12" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/88/Flag_of_Australia_%28converted%29.svg/35px-Flag_of_Australia_%28converted%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/88/Flag_of_Australia_%28converted%29.svg/46px-Flag_of_Australia_%28converted%29.svg.png 2x" data-file-width="1280" data-file-height="640">&nbsp;</span>Australia</span>
        </td>
        <td>Voyager
        </td>
        <td>Promise
        </td>
        <td>English
        </td>
        <td>151
        </td>
        <td>9
        </td></tr><tr>
        <th scope="row" style="text-align:center;">14
        </th>
        <td><span class="nowrap"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Flag_of_the_Czech_Republic.svg/23px-Flag_of_the_Czech_Republic.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Flag_of_the_Czech_Republic.svg/35px-Flag_of_the_Czech_Republic.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Flag_of_the_Czech_Republic.svg/45px-Flag_of_the_Czech_Republic.svg.png 2x" data-file-width="900" data-file-height="600">&nbsp;</span>Czech Republic</span>
        </td>
        <td>Vesna
        </td>
        <td>My Sister's Crown
        </td>
        <td>English, Ukrainian, Czech, Bulgarian
        </td>
        <td>129
        </td>
        <td>10
        </td></tr><tr>
        <th scope="row" style="text-align:center;">22
        </th>
        <td><span class="nowrap"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/11/Flag_of_Lithuania.svg/23px-Flag_of_Lithuania.svg.png" decoding="async" width="23" height="14" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/11/Flag_of_Lithuania.svg/35px-Flag_of_Lithuania.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/11/Flag_of_Lithuania.svg/46px-Flag_of_Lithuania.svg.png 2x" data-file-width="1000" data-file-height="600">&nbsp;</span>Lithuania</span>
        </td>
        <td>Monika Linkytė
        </td>
        <td>Stay
        </td>
        <td>English
        </td>
        <td>127
        </td>
        <td>11
        </td></tr><tr>
        <th scope="row" style="text-align:center;">7
        </th>
        <td><span class="nowrap"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Cyprus.svg/23px-Flag_of_Cyprus.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Cyprus.svg/35px-Flag_of_Cyprus.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Cyprus.svg/45px-Flag_of_Cyprus.svg.png 2x" data-file-width="900" data-file-height="600">&nbsp;</span>Cyprus</span>
        </td>
        <td>Andrew Lambrou
        </td>
        <td>Break a Broken Heart
        </td>
        <td>English
        </td>
        <td>126
        </td>
        <td>12
        </td></tr><tr>
        <th scope="row" style="text-align:center;">25
        </th>
        <td><span class="nowrap"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Flag_of_Croatia.svg/23px-Flag_of_Croatia.svg.png" decoding="async" width="23" height="12" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Flag_of_Croatia.svg/35px-Flag_of_Croatia.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Flag_of_Croatia.svg/46px-Flag_of_Croatia.svg.png 2x" data-file-width="1200" data-file-height="600">&nbsp;</span>Croatia</span>
        </td>
        <td>Let 3
        </td>
        <td>Mama ŠČ!
        </td>
        <td>Croatian
        </td>
        <td>123
        </td>
        <td>13
        </td></tr><tr>
        <th scope="row" style="text-align:center;">17
        </th>
        <td><span class="nowrap"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Flag_of_Armenia.svg/23px-Flag_of_Armenia.svg.png" decoding="async" width="23" height="12" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Flag_of_Armenia.svg/35px-Flag_of_Armenia.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Flag_of_Armenia.svg/46px-Flag_of_Armenia.svg.png 2x" data-file-width="1200" data-file-height="600">&nbsp;</span>Armenia</span>
        </td>
        <td>Brunette
        </td>
        <td>Future Lover
        </td>
        <td>English, Armenian
        </td>
        <td>122
        </td>
        <td>14
        </td></tr><tr>
        <th scope="row" style="text-align:center;">1
        </th>
        <td><span class="nowrap"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/41/Flag_of_Austria.svg/23px-Flag_of_Austria.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/41/Flag_of_Austria.svg/35px-Flag_of_Austria.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/41/Flag_of_Austria.svg/45px-Flag_of_Austria.svg.png 2x" data-file-width="900" data-file-height="600">&nbsp;</span>Austria</span>
        </td>
        <td>Salena
        </td>
        <td>Who the Hell Is Edgar?
        </td>
        <td>English
        </td>
        <td>120
        </td>
        <td>15
        </td></tr><tr>
        <th scope="row" style="text-align:center;">6
        </th>
        <td><span class="nowrap"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/c/c3/Flag_of_France.svg/23px-Flag_of_France.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/en/thumb/c/c3/Flag_of_France.svg/35px-Flag_of_France.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/c/c3/Flag_of_France.svg/45px-Flag_of_France.svg.png 2x" data-file-width="900" data-file-height="600">&nbsp;</span>France</span>
        </td>
        <td>La Zarra
        </td>
        <td>Évidemment
        </td>
        <td>French
        </td>
        <td>104
        </td>
        <td>16
        </td></tr><tr>
        <th scope="row" style="text-align:center;">8
        </th>
        <td><span class="nowrap"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/9/9a/Flag_of_Spain.svg/23px-Flag_of_Spain.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/en/thumb/9/9a/Flag_of_Spain.svg/35px-Flag_of_Spain.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/9/9a/Flag_of_Spain.svg/45px-Flag_of_Spain.svg.png 2x" data-file-width="750" data-file-height="500">&nbsp;</span>Spain</span>
        </td>
        <td>Blanca Paloma
        </td>
        <td>Eaea
        </td>
        <td>Spanish
        </td>
        <td>100
        </td>
        <td>17
        </td></tr><tr>
        <th scope="row" style="text-align:center;">18
        </th>
        <td><span class="nowrap"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/27/Flag_of_Moldova.svg/23px-Flag_of_Moldova.svg.png" decoding="async" width="23" height="12" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/27/Flag_of_Moldova.svg/35px-Flag_of_Moldova.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/27/Flag_of_Moldova.svg/46px-Flag_of_Moldova.svg.png 2x" data-file-width="1800" data-file-height="900">&nbsp;</span>Moldova</span>
        </td>
        <td>Pasha Parfeni
        </td>
        <td>Soarele și luna
        </td>
        <td>Romanian
        </td>
        <td>96
        </td>
        <td>18
        </td></tr><tr>
        <th scope="row" style="text-align:center;">4
        </th>
        <td><span class="nowrap"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/1/12/Flag_of_Poland.svg/23px-Flag_of_Poland.svg.png" decoding="async" width="23" height="14" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/en/thumb/1/12/Flag_of_Poland.svg/35px-Flag_of_Poland.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/1/12/Flag_of_Poland.svg/46px-Flag_of_Poland.svg.png 2x" data-file-width="1280" data-file-height="800">&nbsp;</span>Poland</span>
        </td>
        <td>Blanka
        </td>
        <td>Solo
        </td>
        <td>English
        </td>
        <td>93
        </td>
        <td>19
        </td></tr><tr>
        <th scope="row" style="text-align:center;">3
        </th>
        <td><span class="nowrap"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/08/Flag_of_Switzerland_%28Pantone%29.svg/16px-Flag_of_Switzerland_%28Pantone%29.svg.png" decoding="async" width="16" height="16" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/08/Flag_of_Switzerland_%28Pantone%29.svg/24px-Flag_of_Switzerland_%28Pantone%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/08/Flag_of_Switzerland_%28Pantone%29.svg/32px-Flag_of_Switzerland_%28Pantone%29.svg.png 2x" data-file-width="512" data-file-height="512">&nbsp;</span>Switzerland</span>
        </td>
        <td>Remo Forrer
        </td>
        <td>Watergun
        </td>
        <td>English
        </td>
        <td>92
        </td>
        <td>20
        </td></tr><tr>
        <th scope="row" style="text-align:center;">24
        </th>
        <td><span class="nowrap"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Flag_of_Slovenia.svg/23px-Flag_of_Slovenia.svg.png" decoding="async" width="23" height="12" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Flag_of_Slovenia.svg/35px-Flag_of_Slovenia.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Flag_of_Slovenia.svg/46px-Flag_of_Slovenia.svg.png 2x" data-file-width="1200" data-file-height="600">&nbsp;</span>Slovenia</span>
        </td>
        <td>Joker Out
        </td>
        <td>Carpe Diem
        </td>
        <td>Slovene
        </td>
        <td>78
        </td>
        <td>21
        </td></tr><tr>
        <th scope="row" style="text-align:center;">10
        </th>
        <td><span class="nowrap"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/36/Flag_of_Albania.svg/21px-Flag_of_Albania.svg.png" decoding="async" width="21" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/3/36/Flag_of_Albania.svg/32px-Flag_of_Albania.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/3/36/Flag_of_Albania.svg/42px-Flag_of_Albania.svg.png 2x" data-file-width="980" data-file-height="700">&nbsp;</span>Albania</span>
        </td>
        <td>Albina and Familja Kelmendi
        </td>
        <td>Duje
        </td>
        <td>Albanian
        </td>
        <td>76
        </td>
        <td>22
        </td></tr><tr>
        <th scope="row" style="text-align:center;">2
        </th>
        <td><span class="nowrap"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Portugal.svg/23px-Flag_of_Portugal.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Portugal.svg/35px-Flag_of_Portugal.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Portugal.svg/45px-Flag_of_Portugal.svg.png 2x" data-file-width="600" data-file-height="400">&nbsp;</span>Portugal</span>
        </td>
        <td>Mimicat
        </td>
        <td>Ai coração
        </td>
        <td>Portuguese
        </td>
        <td>59
        </td>
        <td>23
        </td></tr><tr>
        <th scope="row" style="text-align:center;">5
        </th>
        <td><span class="nowrap"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Flag_of_Serbia.svg/23px-Flag_of_Serbia.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Flag_of_Serbia.svg/35px-Flag_of_Serbia.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Flag_of_Serbia.svg/45px-Flag_of_Serbia.svg.png 2x" data-file-width="945" data-file-height="630">&nbsp;</span>Serbia</span>
        </td>
        <td>Luke Black
        </td>
        <td>Samo mi se spava (Само ми се спава)
        </td>
        <td>Serbian, English
        </td>
        <td>30
        </td>
        <td>24
        </td></tr><tr>
        <th scope="row" style="text-align:center;">26
        </th>
        <td><span class="nowrap"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/23px-Flag_of_the_United_Kingdom.svg.png" decoding="async" width="23" height="12" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/35px-Flag_of_the_United_Kingdom.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/46px-Flag_of_the_United_Kingdom.svg.png 2x" data-file-width="1200" data-file-height="600">&nbsp;</span>United Kingdom</span>
        </td>
        <td>Mae Muller
        </td>
        <td>I Wrote a Song
        </td>
        <td>English
        </td>
        <td>24
        </td>
        <td>25
        </td></tr><tr>
        <th scope="row" style="text-align:center;">21
        </th>
        <td><span class="nowrap"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/23px-Flag_of_Germany.svg.png" decoding="async" width="23" height="14" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/35px-Flag_of_Germany.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/46px-Flag_of_Germany.svg.png 2x" data-file-width="1000" data-file-height="600">&nbsp;</span>Germany</span>
        </td>
        <td>Lord of the Lost
        </td>
        <td>Blood &amp; Glitter
        </td>
        <td>English
        </td>
        <td>18
        </td>
        <td>26
        </td></tr></tbody>
    <tfoot></tfoot>
  </table>
  <div class="empty"></div>
</div>
